@model BaseEditModel;

<div class="form-check">
    <input asp-for="ContinuerSaisie" id="@IdentifiantfHtmlElement.ID_CHECKBOX_SAISIE_SUITE" class="form-check-input x-form-check-input-sm" />
    <label for="@IdentifiantfHtmlElement.ID_CHECKBOX_SAISIE_SUITE" class="form-check-label col-form-label-sm">@Model.ContinuerSaisieTitre</label>
</div>