@using Xalise.Web.Areas.Repertoires.Models;
@model ThemeEditModel;

<div class="form-check">
    <input asp-for="ContinuerSaisie" id="@HtmlHelpers.IdentifiantfHtmlElement.ID_CHECKBOX_SAISIE_SUITE" class="form-check-input" />
    <label for="@HtmlHelpers.IdentifiantfHtmlElement.ID_CHECKBOX_SAISIE_SUITE" class="form-check-label">@Model.UTitreContinuerSaisie</label>
</div>