@using Xalise.Web.Areas.Repertoires.Models;
@model ThemeEditModel;

<div class="form-check">
    <input asp-for="ContinuerSaisie" id="@HtmlHelpers.IdentifiantfHtmlElement.ID_CHECKBOX_SAISIE_SUITE" class="form-check-input xalise-form-check-input-sm" />
    <label for="@HtmlHelpers.IdentifiantfHtmlElement.ID_CHECKBOX_SAISIE_SUITE" class="form-check-label col-form-label-sm">@Model.UTitreContinuerSaisie</label>
</div>