<div class="container-fluid bg-info bg-gradient border rounded-3 text-center my-3">
    <div class="row">
        <div class="col">
            <p class="my-2">
                <i class="@FontAwesomeHelper.FontAwesomeClass(FontAwesomeIconStyle.solid, FontAwesomeIcon.triangle_exclamation, FontAwesomeIconSize.xl) me-1"></i>
                Aucun résultat n'a été trouvé.
            </p>
        </div>
    </div>
</div>