<template id="template-xalise-alert-info">
    <div class="div-xalise-alert div-xalise-alert-info alert-dismissible alert alert-info fade show">
        <div class="div-xalise-alert-content"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>
</template>
<template id="template-xalise-alert-success">
    <div class="div-xalise-alert div-xalise-alert-success alert-dismissible alert alert-success fade show">
        <div class="div-xalise-alert-content"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>
</template>
<template id="template-xalise-alert-danger">
    <div class="div-xalise-alert div-xalise-alert-danger alert-dismissible alert alert-danger fade show">
        <div class="div-xalise-alert-content"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>
</template>