@using Xalise.Web.Areas.Repertoires.Models
@model ThemeViewModel

<partial name="CriteresRecherche" model="Model.CriteresRecherche"/>

<div id="div-container-liste-themes">
    <partial name="List" model="Model"/>
</div>