@using Xalise.Web.Areas.Repertoires.Models
@model ThemeGEDViewModel

<partial name="CriteresRecherche" model="Model.CriteresRecherche"/>

<div id="div-theme-ged-container-list">
    <partial name="List" model="Model"/>
</div>